@model ElToko.Models.Nasabah

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Nasabah</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled"  } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AccountId}) |
    @Html.ActionLink("Back to List", "Index")
</p>
