@model IEnumerable<ElToko.Models.Nasabah>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th> Name</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @(item.Name)
            @Html.ActionLink("Edit", "Edit", new { id = item.AccountId }) |
            @Html.ActionLink("Details", "Details", new { id = item.AccountId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.AccountId })
        </td>
    </tr>
}

</table>
